
<div class="panel-body panel edit">
    <div class = "img">
        <input type="button" class = "btn" value = "✖" ng-click = "deleteCategory($index)" ng-show = "currentItem.image">
        <img ng-src="{{currentItem.image || 'img/default.png'}}">
        <label class="btn btn-primary">
            Search for an image to change <input type="file" hidden>
        </label>           
    </div>  
    <form name = "createEdit" novalidate>
        <div class="form-group">
            <label>Title: *</label>
            <input class="form-control" ng-model="currentItem.title" required/>
        </div>
		
        <div class="form-group">
            <label>Price: *</label>
            <input class="form-control" ng-model="currentItem.price" placeholder="+99 (999) 999 99 99" ng-focus="$parent.wrongDate=false" required/>
        </div>
		<!--for error-->
        <div class="error" ng-show="wrongDate">
            the date was entered incorrectly
        </div>

        <button class="btn btn-primary" ng-disabled="createEdit.$invalid" ng-click="saveEdit(currentItem)">Save</button> 
        <button class="btn btn-primary" ng-click="cancelEdit(null, 'edit')">Cancel</button>
    </form>
</div>