<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Task manager</title>
    <link href="libraries/bootstrap.css" rel="stylesheet"/>
    <link href="libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    
    <script src="libraries/angular.js"></script>
    <script src="libraries/angular-route.min.js"></script>	
	<script src="app.js"></script>
	<script src="services/transport.js"></script>
	<script src="services/directive.js"></script>
	<script src="controllers/mainCtrl.js"></script>
	<script src="controllers/itemCtrl.js"></script>
	
</head>

<body ng-controller="mainCtrl">
    
    <div class="panel-heading header">
        <hr>
        <div class="container">
            <a href = "#/" class = "logo">
            </a>
            
            <form class = "search" ng-controller = "itemCtrl">
                <input type="text" ng-model = "search.title" placeholder="search">
                <input type="text" ng-model = "search.user_id" placeholder="user_id">
                <select name="" ng-model = "search.order_by" ng-options="order_by for order_by in ['created_at','price']">         
                </select> 

                <select name="" ng-model = "search.order_type" ng-options="order_type for order_type in ['desc','asc']">         
                </select>
                <button ng-click = "searchItems(search)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>                   
                                            
            <div class="logIn">
                <button ng-show = "online.logged" class="btn btn-default" ng-click = "showForms(true, true, false)">Log in</button>
                
                <div ng-hide = "online.logged">
                   <span>Hello, 
                       <span ng-click = "getUser()">{{online.login}}</span>
                   </span>
                   <button class="btn btn-default" ng-click = "logOut()">Log out</button> 
                </div>
            </div>
        </div>    
    </div>
    <hr>
    
    <div class="container" ng-controller="itemCtrl"> 
        <ng-view></ng-view>
    </div>
        
                                    <!--forms-->
    <div class="background" ng-show = "bg" ng-click = "showForms(false, false, false, false)"></div>
    
    <!--logForm-->               
    <form class = "logForm panel" name="logForm" novalidate ng-show = "log">
        <div class="well">
                       
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control"  ng-model="user.email" placeholder="name@address.com"ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input name="userPass" type="password" class="form-control"  ng-model="user.password" placeholder="Your password" ng-focus="wrongPass=false" required>
                    
                <!--for error-->
                <div class="error" ng-show="wrongPass">
                    {{wrongPass}}
                </div>
            </div>
                
            <button type="button" class="btn btn-success btn-block" ng-disabled="logForm.$invalid" ng-show = "log" ng-click = "login(user)">Ok</button>
            
            <a class="btn btn-primary btn-block" ng-click = "showForms(false, false, false, false)">Cancel</a>
        </div>
    </form>
    
    <!--updateForm-->
    <form class = "updateForm panel" name="updateForm" novalidate ng-show = "reg">
        <div class="well">
            <div class="form-group">
                <label>Name:</label>
                <input name="userName" type="text" class="form-control" ng-model="currentUser.name" ng-focus="invalidName=false" placeholder="Your name" required>
            </div>
            <!--for error-->
            <div class="error" ng-show="invalidName">
                {{invalidName}}
            </div>
                
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control"  ng-model="currentUser.email" placeholder="name@address.com" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
            </div>
    
            <div class="form-group">
                <label>Phone:</label>
                <input name="userPhone" type="text" class="form-control"  ng-model="currentUser.phone"  placeholder="+99 (999) 999 99 99"  ng-pattern = '/^$|[+](\d{2} )[(](\d{3})[)]( \d{3})( \d{2}){2}/' ng-required>
            </div>
                
            <a class="btn btn-success btn-block" ng-disabled= "updateForm.$invalid" ng-click = "updateUser(currentUser)">Correct user</a>
            
            <a class="btn btn-primary btn-block" ng-click = "showForms(false, false, false, false)">Cancel</a>
        </div>
    </form>
  
</body>
</html>
