<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Task manager</title>
    <link href="libraries/bootstrap.css" rel="stylesheet"/>
    <link href="libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    
    <script src="libraries/angular.js"></script>
    <script src="libraries/angular-route.min.js"></script>	
	<script src="app.js"></script>
	<script src="controllers/mainCtrl.js"></script>
	<script src="controllers/viewCtrl.js"></script>
	<script src="services/transport.js"></script>
</head>

<body ng-controller="mainCtrl">
    
    <div class="panel-heading header">
        <hr>
        <div class="container">
            <div class = "logo">
            </div>
            
            <form class = "search">
                <input type="text" placeholder="search">
                <select name="">
                    <option value="" selected>by date</option>
                    <option value="">by price</option>
                </select> 

                <select name=""> 
                    <option value="" selected>desc</option>
                    <option value="">esc</option>
                </select>
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>                   
                                            
            <div class="logIn">
                <button ng-show = "online.logged" class="btn btn-default" ng-click = "showForms(true, true, false)">Log in</button>
                
                <div ng-hide = "online.logged">
                   <span>Hello, 
                       <span ng-click = "showForms(true, false, true)">{{online.login}}</span>
                   </span>
                   <button class="btn btn-default" ng-click = "logOut()">Log out</button> 
                </div>
            </div>
        </div>    
    </div>
    <hr>
    <div class="container" ng-controller="viewCtrl"> 
    <ng-view></ng-view>
<!--
        <ng-view src="'views/table.html'" ng-show="currentView == 'table'"></ng-view>
        <ng-view src="'views/info.html'" ng-show="currentView == 'info'"></ng-view>
        <ng-view src="'views/edit.html'" ng-show="currentView == 'edit'"></ng-view>
        <ng-view src="'views/userInfo.html'" ng-show="currentView == 'userInfo'"></ng-view>
-->
    </div>
        
                                    <!--forms-->
    <div class="background" ng-show = "bg" ng-click = "showForms(false, false, false, false)"></div>
    
    <!--logForm-->               
    <form class = "logForm panel" name="logForm" novalidate ng-show = "log">
        <div class="well">
                       
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control"  ng-model="user.email" placeholder="name@address.com" ng-focus="createdUser=false; " required>
                
                <!--for error-->
                <div class="error" ng-show="wrongEmail">
                    incorrect email
                </div>
                <!--for error-->
                <div class="currect" ng-show="createdUser">
                    user was created
                </div>
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input name="userPass" type="password" class="form-control"  ng-model="user.pass" placeholder="Your password" ng-focus="wrongPass=false" required>
                    
                <!--for error-->
                <div class="error" ng-show="wrongPass">
                    wrong password
                </div>
            </div>
                
            <button type="button" class="btn btn-primary btn-block" ng-disabled="logForm.$invalid" ng-show = "log" ng-click = "logIn()">Ok</button>
            
            <a class="btn btn-primary btn-block" ng-click = "showForms(false, false, false, false)">Cancel</a>
        </div>
    </form>
    
    <!--regForm-->
    <form class = "regForm panel" name="regForm" novalidate ng-submit="addNewUser(newUser)" ng-show = "reg">
        <div class="well">
            <div class="form-group">
                <label>Name:</label>
                <input name="userName" type="text" class="form-control" ng-model="newUser.name" placeholder="Your name" ng-focus="existingName=false" required>
                    
                <!--for error-->
                <div class="error" ng-show="existingName">
                    the name exist
                </div>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control"  ng-model="newUser.email" placeholder="name@address.com" required>
                    
                <!--for error-->
                <div class="error" ng-show="regForm.userEmail.$invalid && regForm.userEmail.$dirty">
                    {{getError(regForm.userEmail.$error)}}
                </div>
            </div>
    
            <div class="form-group">
                <label>Phone:</label>
                <input name="userPass1" type="text" class="form-control"  ng-model="newUser.pass"  placeholder="+99 (999) 999 99 99"  required>
                    
                <!--for error-->
                <div class="error" ng-show="regForm.userPass1.$invalid && regForm.userPass1.$dirty">
                    {{getError(regForm.userPass1.$error)}}
                </div>
            </div>
                
            <a class="btn btn-primary btn-block" ng-disabled= "regForm.$invalid" ng-click = "addNewUser(newUser)">Change </a>
            
            <a class="btn btn-primary btn-block" ng-click = "showForms(false, false, false, false)">Cancel</a>
        </div>
    </form>
    
    
</body>
</html>
